<div class="container mt-5">
  <h1 class="mb-4">Lista de Proponentes</h1>

  <% if user_signed_in? %>
    <%= link_to 'Novo Proponente', new_proponente_path, class: 'btn btn-primary mb-3' %>
    <%= link_to 'Relatório', relatorio_proponentes_path, class: 'btn btn-primary mb-3' %>
  <% end %>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Salário</th>
        <th scope="col">Desconto INSS</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @proponentes.each do |proponente| %>
        <tr>
          <td><%= proponente.nome %></td>
          <td><%= proponente.cpf %></td>
          <td><%= l(proponente.data_nascimento) %></td>
          <td><%= number_to_currency(proponente.salario, unit: "R$", separator: ",", delimiter: ".") %></td>
          <td><%= number_to_currency(proponente.desconto_inss, unit: "R$", separator: ",", delimiter: ".") %></td>
          <td>
            <% if user_signed_in? %>
              <%= link_to 'Atualizar Salario', proponente_path(proponente), class: 'btn btn-sm btn-info' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <%= paginate @proponentes %>
  </div>
</div>